.filters {
  width: 285px;
  display: flex;
  flex-direction: column;
  height: 95%;
  padding: 20px;
  margin-left: 40px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  /* border-right: #cfd0cd solid 2px; */
}

.inside-filters {
  margin-top: 10px;
}

#filter-price {
  margin-top: 8px;
}

.top {
  margin-top: 10px;
}

label {
  font-size: 16px;
}

label:hover {
  cursor: pointer;
}

hr {
  /* border: 2px #2f2e2e solid;
  width: 220px; */
  margin: 20px auto;
  text-align: center;
}

input {
  accent-color: #aa111e;
}

input:hover {
  cursor: pointer;
}
